.navbar {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: #a9aba9;
    text-indent: 0.5em; /* Отступ первой строки */
    text-align: center; /* Выравнивание по ширине */
    text-align-last: left;
}

.navbar img {
    background-color: black;
    width: 30px;
    Height: 30px;
    border-radius: 20px;
}

.navbar a.activeLink {
    color: #e2c42b;
}

.navbar p{
    color: blue;
}

.menu {
    grid-column: span 3 / auto;
}




