.messageMainPageGridArea {
    display: grid;
    grid-template-columns:20% 1fr 1fr 1fr 100px;
    grid-template-rows: 20% 1fr 1fr 1fr 1fr;
}
/*message main page*/
.m {
    background-color: #09ec1f;
    grid-area: 1/2/6/5;
    border-radius: 10px;
}

.text {

    background-color: greenyellow;
    grid-area: 5/1/6/6;
    height: 100px;
    width: 85%;
    max-width: 800px;

}



