.img {
    height: 80px;
    width: 80px;
    border-radius: 35px;
}

.selectedPage {
    font-weight: bold;
    font-size: 35px;
}

.pageSelector {
    font-size: 25px;
    cursor: pointer;
    overflow:auto;
    white-space: nowrap;
    width: 550px;
    height: 70px;
    border-radius: 20px;
    background-color: #09ec1f;
}

.pagenator{
margin:10px;
}

.pageNumber{
    padding: 2px;
    border:1px solid gray;
}

.pageNumber.selectedPage{
    font-weight: bold;
    border-color:black;
}
