.header {
    grid-area: h;
    background-color: #a9aba9;

/*    width: auto;
    height: 100px;*/
}

.header img {
    width: 150px;
    height: 110px;
}

.loginBlock{
    float:right;
    padding: 15px;
}

.loginBlock a{
    color: white;
}

