.profileBanner img{
    aling:center;
    height:250px;
    width: 550px;
    max-width: 500px;
    background-color: #00f8fd;

}

.profileAva img{
    align: start;
    max-width: 150px;
    max-height: 150px;
    margin:auto;

}

.descriptionBlock {
    padding: 10px;
}

.contact {
    padding-left: 10px;
}

