.item {
    color: whitesmoke;
    text-size: 50px;
}

.item img {
    float: left;
    top: -20px;
    width: 60px;
    Height: 60px;
    border-radius: 30px;
}

.item p {

    text-indent: 0.5em; /* Отступ первой строки */
    text-align: left; /* Выравнивание по ширине */
    text-align-last: left;
    width: 100px;
}
.item.message{
    position: fixed;
    height: 100px;
    width: 100%;
    top: 10px;
    left: 10%;

}

.itembox {
    background: green;
    float: right;
    display: flex;
    width: 95%;
    max-height: 250px;
}


