.app-wrapper {
    display: grid;

    grid-template-areas:
            "h h h"
            "n p rc"
            "f f f";
    grid-row-gap: 8px;
    grid-column-gap: 8px;
    grid-template-columns:
            [Navbar] minmax(150px, 150px)
            [Newsfeed] minmax(300px, 1fr)
            [Right column]minmax(150px, 150px);
    grid-template-rows:
            [Header] 100px
            [Newsfeed] minmax(500px, 2fr)
            [Footer]70px;
}

.app-wrapper-content {
    grid-area: p;
    background-color: lightblue;
    width: 1fr;
    min-width: 200px;
    overflow: auto;
    max-height: 1000px;

}



















